.header, .footer{
    width: 100%;
    background-color: #f2a74b;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}

ul{
    display: flex; 
    text-decoration: none;   
}

li{
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    outline:0;
    box-sizing: border-box;
}

html, body, #root{
    min-height: 100%;
    color: black;
}

body{
    background: #f2b591;
    font-size: 14px;
    -webkit-font-smoothing: antialiased !important;
}

body, input, button{
    color: #222;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
}

.carousel{
    display: block;
    width: 100%;
    margin-bottom: 20px;

}

.cards{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px 10px 20px 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*** Courses ***/
.courses {
    min-height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url(../img/carousel-1.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.courses-item .courses-overlay {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.courses-item:hover .courses-overlay {
    height: 100%;
    opacity: 1;
}

.img-cards{
    width: 100%;
    height: 200px;
}